*
{
    margin: 0 auto;
}
body{  
    /* color: white; */
    background: linear-gradient(#99cffe, #6b5959);
    font-family: 'Avenir', sans-serif;
    height:100vh;
    }
header {
    padding: 1.5% 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.links ul li, .middle ul li{ 
    padding-right: 15px;
    
}

.links ul li a ,.middle ul li a{
    color: white;
    text-decoration: none;
}
.heading
{
    margin-left: 35%;
}
.links,.middle{
        margin-left: 27.5%;
}
ul li {
    list-style-type: none;
}

.middle li a:link
{
color:gray;
}

.middle li a:active
{
color:white;
}



/* for carousel */

span{
    position:absolute;
    top:40%;
    font-size: 60px;
    font-weight: bold;
    color:white;
    cursor:pointer;
    left: 0.5%;
    z-index:1;
}
span:nth-of-type(2)
{
    left:98%;
    text-align: right;
}
section
{
    width: 98%;
    display: flex;
    justify-content: left;
    overflow-x: hidden;
    overflow-y: hidden;
}

section ::-webkit-scrollbar
{
    visibility: hidden !important;  
}
section div{
    min-width: 300px;
    height:500px;
    position: relative;
    left:0;
    text-align:center ;
    padding-top: 30px;
    font-weight: bold;
    margin:10px 20px;
    color:white;
    transition: 0.5s;
}
section div img{
    width:300px;
    height:500px;
}

/* texts  -----to be fixed */
/* section div .text1
{
    position:relative;
    top: -40%;
    text-align: left;
}

section div .text1 h1
{
    font-size: 5em;
}

section div .text1 hr{
    width:250px;
} */





